# Eclipse
.metadata/
.recommenders/

# Xtext
**/*-gen/
**/*generated*/

# Gradle
build/
bin/
.gradle
gradle.prefs
gradle.xml

# Hugo
site/public

# KDE
.directory
*.kate-swp

# Kotlin
.kotlin/

# Idea
out/
uiDesigner.xml
buildProfile/
*.iml
.idea/artifacts/
.idea/copilot/
.idea/libraries/
.idea/ktfmt.xml
.idea/workspace.xml
.idea/codeStyleSettings.xml
.idea/inspectionProfiles/profiles_settings.xml
.idea/jarRepositories.xml
.idea/dataSources.local.xml
.idea/libraries-with-intellij-classes.xml
.idea/runConfigurations.xml
.idea/shelf
.idea/checkstyle-idea.xml
/.idea/kotlinc.xml

# MacOS
.DS_Store

# Other
node_modules/
.kotlintest/
**/*.kotlintest*/*
*.cache-main
*.cache-tests
.hugo_build.lock
.name
.vscode
compiler.xml
hs_err_pid*.log
misc.xml
modules.xml
replay_pid*.log
scala_compiler.xml
