.metadata/
.recommenders/
build/
bin/
.directory
.gradle
gradle.prefs
version.info
prepare_environment.sh
**/*-gen/
**/*generated*/
*.cache-main
*.cache-tests
out/
.DS_Store
*.iml
*.kate-swp
*/.idea/libraries 
.idea/
