[submodule "src/main/hugo/themes/hugo-theme-relearn"]
	path = site/themes/hugo-theme-relearn
	url = https://github.com/McShelby/hugo-theme-relearn.git
	shallow = true
	branch = 7.2.0
[submodule "site/content/tutorials/scafi/learning-scafi-alchemist"]
	path = external-resources/learning-scafi-alchemist
	url = https://github.com/scafi/learning-scafi-alchemist.git
	shallow = true
	branch = 1.0.0
