[submodule "alchemist/config/detekt"]
	path = alchemist/config/detekt
	url = https://github.com/DanySK/detekt-configuration.git
[submodule "alchemist/config/pmd"]
	path = alchemist/config/pmd
	url = https://github.com/DanySK/pmd-configuration.git
