/* Application stylesheet. Author: Elisa Casadio */

.root {
	-fx-background-color: /*#ffffcc*//*#f5f5f5*/#f9f9f9;
	-fx-font-size: 14px;
}

.anchorpane {
	-fx-border-width: 1;
	-fx-border-color: #cc0000;
	-fx-border-width: 2;
	-fx-padding: 10 10 10 10; /* top right buttom left */
	-fx-border-insets: 0 0 5 5;
}

.title {
	-fx-font-size: 2em;
	-fx-text-fill: #cc0000;
	-fx-font-weight: bold;
	-fx-padding: 0 0 10 0;
}

.path {
	-fx-font-family: "monospace";
}

.button {
	-fx-font-size: 1.25em;
	-fx-border-color: #cc0000;
	-fx-border-radius: 5;
	/*-fx-background-color: #ffb366;*/
	-fx-background-color: #d7d7d7;
	-fx-background-radius: 5;
}

.button:hover {
	-fx-background-color: /*#ffd9b3*/#ffffcc;
	-fx-effect: dropshadow(gaussian, #a6a6a6, 10, 0.2, 2, 2);
}

.button:pressed {
	-fx-effect: dropshadow(gaussian, #a6a6a6, 0, 0, 0, 0);
}

#batch {
	-fx-border-radius: 0;
	-fx-border-color: #000000;
	-fx-background-color: /*#cccccc*/#444444;
	-fx-text-fill: #ffffff;
	-fx-graphic: url('../src/main/resources/icon/icon-batch.png');
}

#batch:hover {
	-fx-background-color: /*#e6e6e6*/#747474;
}

#run {
	-fx-font-size: 2em;
	-fx-font-weight: bold;
	-fx-border-color: #002699;
	-fx-border-radius: 0;
	-fx-background-color: #668cff;
	-fx-graphic: url('../src/main/resources/icon/icon-run.png');
}

#run:hover {
	-fx-background-color: #b3c6ff;
}

.btnMenu {
	-fx-content-display: top;
	-fx-border-radius: 0;
	-fx-pref-width: 8.125em; /* 130px */
	-fx-border-insets: 10 0 10 10;
	-fx-background-insets: 10 0 10 10;
}

#btnNew {
	-fx-graphic: url('../src/main/resources/icon/icon-new.png');
}

#btnOpen {
	-fx-graphic: url('../src/main/resources/icon/icon-open.png');
}

#btnSave {
	-fx-graphic: url('../src/main/resources/icon/icon-save.png');
}

#btnSaveAs {
	-fx-graphic: url('../src/main/resources/icon/icon-save-as.png');
}

#btnImport {
	-fx-graphic: url('../src/main/resources/icon/icon-import.png');
}

.separator .line {
	-fx-border-insets: 10 0 10 15;
	-fx-background-insets: 10 0 10 15;
}

.btnHB {
	-fx-border-insets: 0 10 0 0;
	-fx-background-insets: 0 10 0 0;
}

#listYaml {
	-fx-border-insets: 0 0 10 0;
	-fx-background-insets: 0 0 10 0;
}