
ButtonBar {
    -fx-background-color: rgb(0, 0, 0);
    -fx-padding: 0;
    -fx-min-height: 3.08em;
    -fx-pref-height: 3.08em;
    -fx-max-height: 6.15em;
    -fx-opacity: 0.45;
}

JFXButton {
    -fx-background-color: transparent;
    -fx-padding: 0;
    -fx-background-size: 0;
    -fx-min-height: 3.08em;
    -fx-pref-height: 3.08em;
    -fx-max-height: 6.15em;
    -fx-min-width: 3.08em;
    -fx-pref-width: 3.08em;
    -fx-max-width: 6.15em;
}

ListView {
    -fx-opacity: 0.45;
}