name: Update the ancillary files
on:
  push:
    branches:
      - master
    paths:
      - gradle/libs.versions.toml
  workflow_dispatch:

jobs:
  update-ancillary-files:
    runs-on: ubuntu-24.04
    concurrency:
      group: javadoc-io-${{ github.workflow }}-${{ github.event.number || github.ref }}
    steps:
      - name: Checkout
        uses: danysk/action-checkout@17f5de6c9546f22aad5eab262982aa8847eebd4f # 0.2.28
        with:
          token: ${{ secrets.DEPLOYMENT_TOKEN }}
      - uses: DanySK/build-check-deploy-gradle-action@94e25bfa1ec0e4392a48d31183a3bf403a94c055 # 4.0.20
        with:
          pre-build-command: rm -rf dokka-cache
          build-command: |
            for i in {1..3}; do
                rm dokka-cache/no-javadoc.json || true
                ./gradlew dokkaGenerateModuleHtml dokkaGeneratePublicationHtml --dry-run
            done
            ./gradlew kotlinUpgradeYarnLock kotlinWasmUpgradeYarnLock
          check-command: |
            git config user.name 'Danilo Pianini [bot]'
            git config user.email 'danilo.pianini@gmail.com'
            git add dokka-cache || true
            git commit -nm 'chore(build): update the javadoc.io cache' || true
            git pull --rebase --autostash
            git push
            git add kotlin-js-store || true
            git commit -nm 'chore(build): actualize the Kotlin JS store' || true
            git pull --rebase --autostash
            git push
          should-run-codecov: false
          should-deploy: false
